.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100%;
}
.App-body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  overflow-y: auto;
  overflow-x: hidden;
}
.contenido{
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.19);
} 
::-webkit-scrollbar-thumb {
  background-color: #008cff;
} 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 414px) {
  .App-body{
    grid-template-columns: 1fr 1fr;
  }
}

/*--------------------------*/
.wrap{
  display: grid;
  grid-template-columns: 10em 1fr;
  grid-template-rows: auto 1fr;
  text-align: left;
  margin: .5em;
  grid-column-gap: .5em;
}
.wrap section{
  padding: .5em;
}
.search{
  border-bottom: 1px solid gray;
}
.content-options{
  display: grid;
  grid-template-columns: repeat(4,1fr) ;
}